<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.windaka.suizhi.manageport.dao.BasePersonMapper" >
  <resultMap id="BaseResultMap" type="com.windaka.suizhi.manageport.model.BasePerson" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="community_code" property="communityCode" jdbcType="VARCHAR" />
    <result column="community_name" property="communityName" jdbcType="VARCHAR" />
    <result column="room_code" property="roomCode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="SMALLINT" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="country" property="country" jdbcType="SMALLINT" />
    <result column="country_name" property="countryName" jdbcType="VARCHAR" />
    <result column="nationality" property="nationality" jdbcType="SMALLINT" />
    <result column="nationality_name" property="nationalityName" jdbcType="VARCHAR" />
    <result column="paper_type" property="paperType" jdbcType="SMALLINT" />
    <result column="paper_type_name" property="paperTypeName" jdbcType="VARCHAR" />
    <result column="paper_number" property="paperNumber" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="marriage" property="marriage" jdbcType="SMALLINT" />
    <result column="marriage_name" property="marriageName" jdbcType="VARCHAR" />
    <result column="political" property="political" jdbcType="SMALLINT" />
    <result column="political_name" property="politicalName" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="SMALLINT" />
    <result column="education_name" property="educationName" jdbcType="VARCHAR" />
    <result column="occupation" property="occupation" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="checkin_time" property="checkinTime" jdbcType="TIMESTAMP" />
    <result column="residence_permit" property="residencePermit" jdbcType="TINYINT" />
    <result column="relation" property="relation" jdbcType="SMALLINT" />
    <result column="relation_name" property="relationName" jdbcType="VARCHAR" />
    <result column="face_group_detail_id" property="faceGroupDetailId" jdbcType="VARCHAR" />
    <result column="op_date" property="opDate" jdbcType="TIMESTAMP" />
    <result column="sex_name" property="sexName" jdbcType="VARCHAR" />
    <result column="group_type" property="groupType" jdbcType="SMALLINT" />
    <result column="live_place" property="livePlace" jdbcType="VARCHAR" />
    <result column="address_type" property="addressType" jdbcType="SMALLINT" />
    <result column="live_type" property="liveType" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, community_code, community_name, room_code, name, type, type_name, phone, 
    sex, birthday, country, country_name, nationality, nationality_name, paper_type,
    paper_type_name, paper_number, address, marriage, marriage_name, political,
    political_name, education, education_name, occupation, image, checkin_time, residence_permit, 
    relation, relation_name, face_group_detail_id, op_date, sex_name,group_type,live_place,address_type,live_type
  </sql>
  <select id="selectPersonList" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_person
    where 1=1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="code != null" >
      and code = #{code,jdbcType=VARCHAR}
    </if>
    <if test="communityCode != null" >
      and community_code = #{communityCode,jdbcType=VARCHAR}
    </if>
    <if test="communityName != null" >
      and community_name = #{communityName,jdbcType=VARCHAR}
    </if>
    <if test="roomCode != null" >
      and room_code = #{roomCode,jdbcType=VARCHAR}
    </if>
    <if test="name != null" >
      and name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="type != null" >
      and type = #{type,jdbcType=SMALLINT}
    </if>
    <if test="typeName != null" >
      and type_name = #{typeName,jdbcType=VARCHAR}
    </if>
    <if test="phone != null" >
      and phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="sex != null" >
      and sex = #{sex,jdbcType=VARCHAR}
    </if>
    <if test="birthday != null" >
      and birthday = #{birthday,jdbcType=TIMESTAMP}
    </if>
    <if test="country != null" >
      and country = #{country,jdbcType=SMALLINT}
    </if>
    <if test="countryName != null" >
      and country_name = #{countryName,jdbcType=VARCHAR}
    </if>
    <if test="nationality != null" >
      and nationality = #{nationality,jdbcType=SMALLINT}
    </if>
    <if test="nationalityName != null" >
      and nationality_name = #{nationalityName,jdbcType=VARCHAR}
    </if>
    <if test="paperType != null" >
      and paper_type = #{paperType,jdbcType=SMALLINT}
    </if>
    <if test="paperTypeName != null" >
      and paper_type_name = #{paperTypeName,jdbcType=VARCHAR}
    </if>
    <if test="paperNumber != null" >
      and paper_number = #{paperNumber,jdbcType=VARCHAR}
    </if>
    <if test="address != null" >
      and address = #{address,jdbcType=VARCHAR}
    </if>
    <if test="marriage != null" >
      and marriage = #{marriage,jdbcType=SMALLINT}
    </if>
    <if test="marriageName != null" >
      and marriage_name = #{marriageName,jdbcType=VARCHAR}
    </if>
    <if test="political != null" >
      and political = #{political,jdbcType=SMALLINT}
    </if>
    <if test="politicalName != null" >
      and political_name = #{politicalName,jdbcType=VARCHAR}
    </if>
    <if test="education != null" >
      and education = #{education,jdbcType=SMALLINT}
    </if>
    <if test="educationName != null" >
      and education_name = #{educationName,jdbcType=VARCHAR}
    </if>
    <if test="occupation != null" >
      and occupation = #{occupation,jdbcType=VARCHAR}
    </if>
    <if test="image != null" >
      and image = #{image,jdbcType=VARCHAR}
    </if>
    <if test="checkinTime != null" >
      and checkin_time = #{checkinTime,jdbcType=TIMESTAMP}
    </if>
    <if test="residencePermit != null" >
      and residence_permit = #{residencePermit,jdbcType=TINYINT}
    </if>
    <if test="relation != null" >
      and relation = #{relation,jdbcType=SMALLINT}
    </if>
    <if test="relationName != null" >
      and relation_name = #{relationName,jdbcType=VARCHAR}
    </if>
    <if test="faceGroupDetailId != null" >
      and face_group_detail_id = #{faceGroupDetailId,jdbcType=VARCHAR}
    </if>
    <if test="opDate != null" >
      and op_date = #{opDate,jdbcType=TIMESTAMP}
    </if>
    <if test="sexName != null" >
      and sex_name = #{sexName,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByCode" parameterType="java.lang.String" >
    delete from base_person
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <delete id="deletePersonHouseByCode" parameterType="com.windaka.suizhi.manageport.model.BasePerson">
    delete from base_person
    where code = #{code,jdbcType=VARCHAR} and room_code = #{roomCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.windaka.suizhi.manageport.model.BasePerson" >
    insert into base_person (id, code, community_code, community_name, room_code, name, type, type_name, phone,
      sex, birthday, country, 
      country_name, nationality, nationality_name, 
      paper_type, paper_type_name, paper_number, 
      address, marriage, marriage_name, political, political_name,
      education, education_name, occupation, 
      image, checkin_time, residence_permit, 
      relation, relation_name, face_group_detail_id, 
      op_date, sex_name,group_type,live_place,address_type,live_type)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{communityCode,jdbcType=VARCHAR}, 
      #{communityName,jdbcType=VARCHAR}, #{roomCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=SMALLINT}, #{typeName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{country,jdbcType=SMALLINT}, 
      #{countryName,jdbcType=VARCHAR}, #{nationality,jdbcType=SMALLINT}, #{nationalityName,jdbcType=VARCHAR}, 
      #{paperType,jdbcType=SMALLINT}, #{paperTypeName,jdbcType=VARCHAR}, #{paperNumber,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{marriage,jdbcType=SMALLINT}, #{marriageName,jdbcType=VARCHAR}, 
      #{political,jdbcType=SMALLINT}, #{politicalName,jdbcType=VARCHAR},
      #{education,jdbcType=SMALLINT}, #{educationName,jdbcType=VARCHAR}, #{occupation,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{checkinTime,jdbcType=TIMESTAMP}, #{residencePermit,jdbcType=TINYINT}, 
      #{relation,jdbcType=SMALLINT}, #{relationName,jdbcType=VARCHAR}, #{faceGroupDetailId,jdbcType=VARCHAR}, 
      now(), #{sexName,jdbcType=VARCHAR},#{groupType},#{livePlace},#{addressType},#{liveType})
  </insert>
  <update id="updateByCode" parameterType="com.windaka.suizhi.manageport.model.BasePerson" >
    update base_person
    set
      community_code = #{communityCode,jdbcType=VARCHAR},
      community_name = #{communityName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      country = #{country,jdbcType=SMALLINT},
      country_name = #{countryName,jdbcType=VARCHAR},
      nationality = #{nationality,jdbcType=SMALLINT},
      nationality_name = #{nationalityName,jdbcType=VARCHAR},
      paper_type = #{paperType,jdbcType=SMALLINT},
      paper_type_name = #{paperTypeName,jdbcType=VARCHAR},
      paper_number = #{paperNumber,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      marriage = #{marriage,jdbcType=SMALLINT},
      marriage_name = #{marriageName,jdbcType=VARCHAR},
      political = #{political,jdbcType=SMALLINT},
      political_name = #{politicalName,jdbcType=VARCHAR},
      education = #{education,jdbcType=SMALLINT},
      education_name = #{educationName,jdbcType=VARCHAR},
      occupation = #{occupation,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      op_date = now(),
      sex_name = #{sexName,jdbcType=VARCHAR},
      face_group_detail_id = #{faceGroupDetailId},
      group_type=#{groupType},
      live_place=#{livePlace},
      address_type=#{addressType},
      live_type=#{liveType}
    where code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updatePersonHouseByCode" parameterType="com.windaka.suizhi.manageport.model.BasePerson" >
    update base_person
    set
      op_date = now(),
      type = #{type,jdbcType=SMALLINT},
      type_name = #{typeName,jdbcType=VARCHAR},
      checkin_time = #{checkinTime,jdbcType=TIMESTAMP},
      relation = #{relation,jdbcType=SMALLINT},
      relation_name = #{relationName,jdbcType=VARCHAR},
      residence_permit = #{residencePermit,jdbcType=TINYINT},
      group_type=#{groupType}
    where code = #{code,jdbcType=VARCHAR} and room_code = #{roomCode,jdbcType=VARCHAR}
  </update>
  <update id="fillPersonHouseById" parameterType="com.windaka.suizhi.manageport.model.BasePerson">
    update base_person
    set
      op_date = now(),
      room_code = #{roomCode,jdbcType=VARCHAR},
      type = #{type,jdbcType=SMALLINT},
      type_name = #{typeName,jdbcType=VARCHAR},
      checkin_time = #{checkinTime,jdbcType=TIMESTAMP},
      relation = #{relation,jdbcType=SMALLINT},
      relation_name = #{relationName,jdbcType=VARCHAR},
      residence_permit = #{residencePermit,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deletePersonByCommunityCode" parameterType="String">
    delete from base_person
    where community_code=#{communityCode}
  </delete>
  <select id="selectOtherHousesInPerson" parameterType="Map" resultMap="BaseResultMap">
    select distinct code,room_code
    from base_person
    where code=#{code} and room_code!=#{roomCode}
  </select>

<!--  根据roomCode 选出房屋业主信息-->
  <select id="selectRoomOwnerList" parameterType="Map" resultMap="BaseResultMap">
    select * from base_person
    where type=1
    <if test="roomCode!=null and roomCode !=''">
      and room_code=#{roomCode}
    </if>
  </select>

  <update id="updatePersonByCommunityCode" parameterType="Map">
    update base_person
    set
     community_name=#{communityName}
    where community_code=#{communityCode}
  </update>
</mapper>