<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.windaka.suizhi.manageport.dao.FaceGroupInfoMapper" >
  <resultMap id="BaseResultMap" type="com.windaka.suizhi.manageport.model.FaceGroupInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="community_code" property="communityCode" jdbcType="VARCHAR" />
    <result column="face_detail_id" property="faceDetailId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.windaka.suizhi.manageport.model.FaceGroupInfo" extends="BaseResultMap" >
    <result column="person_face" property="personFace" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, community_code, face_detail_id
  </sql>
  <sql id="Blob_Column_List" >
    person_face
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from face_group_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from face_group_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.windaka.suizhi.manageport.model.FaceGroupInfo" >
    insert into face_group_info (id, community_code, face_detail_id, 
      person_face)
    values (#{id,jdbcType=INTEGER}, #{communityCode,jdbcType=VARCHAR}, #{faceDetailId,jdbcType=VARCHAR}, 
      #{personFace,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.windaka.suizhi.manageport.model.FaceGroupInfo" >
    insert into face_group_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="communityCode != null" >
        community_code,
      </if>
      <if test="faceDetailId != null" >
        face_detail_id,
      </if>
      <if test="personFace != null" >
        person_face,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="communityCode != null" >
        #{communityCode,jdbcType=VARCHAR},
      </if>
      <if test="faceDetailId != null" >
        #{faceDetailId,jdbcType=VARCHAR},
      </if>
      <if test="personFace != null" >
        #{personFace,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.windaka.suizhi.manageport.model.FaceGroupInfo" >
    update face_group_info
    <set >
      <if test="communityCode != null" >
        community_code = #{communityCode,jdbcType=VARCHAR},
      </if>
      <if test="faceDetailId != null" >
        face_detail_id = #{faceDetailId,jdbcType=VARCHAR},
      </if>
      <if test="personFace != null" >
        person_face = #{personFace,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.windaka.suizhi.manageport.model.FaceGroupInfo" >
    update face_group_info
    set community_code = #{communityCode,jdbcType=VARCHAR},
      face_detail_id = #{faceDetailId,jdbcType=VARCHAR},
      person_face = #{personFace,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.windaka.suizhi.manageport.model.FaceGroupInfo" >
    update face_group_info
    set community_code = #{communityCode,jdbcType=VARCHAR},
      face_detail_id = #{faceDetailId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>