<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.windaka.suizhi.manageport.dao.auto.FaceAttentionDetailMapper" >
  <resultMap id="BaseResultMap" type="com.windaka.suizhi.manageport.model.FaceAttentionDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="person_code" property="personCode" jdbcType="VARCHAR" />
    <result column="person_name" property="personName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="id_no" property="idNo" jdbcType="VARCHAR" />
    <result column="attention_code" property="attentionCode" jdbcType="VARCHAR" />
    <result column="attention_name" property="attentionName" jdbcType="VARCHAR" />
    <result column="withdraw_time" property="withdrawTime" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="capture_time" property="captureTime" jdbcType="TIMESTAMP" />
    <result column="community_code" property="communityCode" jdbcType="VARCHAR" />
    <result column="community_name" property="communityName" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="level_name" property="levelName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, person_code, person_name, phone, id_no, attention_code, attention_name, withdraw_time, 
    start_time, end_time, capture_time, community_code, community_name, device_name, 
    level, level_name, status, reason, img_url, create_time, create_user, create_user_id, 
    update_time, update_user, update_user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.windaka.suizhi.manageport.model.FaceAttentionDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from face_attention_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from face_attention_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from face_attention_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.windaka.suizhi.manageport.model.FaceAttentionDetailExample" >
    delete from face_attention_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.windaka.suizhi.manageport.model.FaceAttentionDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into face_attention_detail (person_code, person_name, phone, 
      id_no, attention_code, attention_name, 
      withdraw_time, start_time, end_time, 
      capture_time, community_code, community_name, 
      device_name, level, level_name, 
      status, reason, img_url, 
      create_time, create_user, create_user_id, 
      update_time, update_user, update_user_id
      )
    values (#{personCode,jdbcType=VARCHAR}, #{personName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{idNo,jdbcType=VARCHAR}, #{attentionCode,jdbcType=VARCHAR}, #{attentionName,jdbcType=VARCHAR}, 
      #{withdrawTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{captureTime,jdbcType=TIMESTAMP}, #{communityCode,jdbcType=VARCHAR}, #{communityName,jdbcType=VARCHAR}, 
      #{deviceName,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{levelName,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{reason,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.windaka.suizhi.manageport.model.FaceAttentionDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into face_attention_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="personCode != null" >
        person_code,
      </if>
      <if test="personName != null" >
        person_name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="idNo != null" >
        id_no,
      </if>
      <if test="attentionCode != null" >
        attention_code,
      </if>
      <if test="attentionName != null" >
        attention_name,
      </if>
      <if test="withdrawTime != null" >
        withdraw_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="captureTime != null" >
        capture_time,
      </if>
      <if test="communityCode != null" >
        community_code,
      </if>
      <if test="communityName != null" >
        community_name,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="levelName != null" >
        level_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="personCode != null" >
        #{personCode,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="attentionCode != null" >
        #{attentionCode,jdbcType=VARCHAR},
      </if>
      <if test="attentionName != null" >
        #{attentionName,jdbcType=VARCHAR},
      </if>
      <if test="withdrawTime != null" >
        #{withdrawTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="captureTime != null" >
        #{captureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="communityCode != null" >
        #{communityCode,jdbcType=VARCHAR},
      </if>
      <if test="communityName != null" >
        #{communityName,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="levelName != null" >
        #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.windaka.suizhi.manageport.model.FaceAttentionDetailExample" resultType="java.lang.Integer" >
    select count(*) from face_attention_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update face_attention_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.personCode != null" >
        person_code = #{record.personCode,jdbcType=VARCHAR},
      </if>
      <if test="record.personName != null" >
        person_name = #{record.personName,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.idNo != null" >
        id_no = #{record.idNo,jdbcType=VARCHAR},
      </if>
      <if test="record.attentionCode != null" >
        attention_code = #{record.attentionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.attentionName != null" >
        attention_name = #{record.attentionName,jdbcType=VARCHAR},
      </if>
      <if test="record.withdrawTime != null" >
        withdraw_time = #{record.withdrawTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.captureTime != null" >
        capture_time = #{record.captureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.communityCode != null" >
        community_code = #{record.communityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.communityName != null" >
        community_name = #{record.communityName,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceName != null" >
        device_name = #{record.deviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.levelName != null" >
        level_name = #{record.levelName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null" >
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update face_attention_detail
    set id = #{record.id,jdbcType=INTEGER},
      person_code = #{record.personCode,jdbcType=VARCHAR},
      person_name = #{record.personName,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      id_no = #{record.idNo,jdbcType=VARCHAR},
      attention_code = #{record.attentionCode,jdbcType=VARCHAR},
      attention_name = #{record.attentionName,jdbcType=VARCHAR},
      withdraw_time = #{record.withdrawTime,jdbcType=TIMESTAMP},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      capture_time = #{record.captureTime,jdbcType=TIMESTAMP},
      community_code = #{record.communityCode,jdbcType=VARCHAR},
      community_name = #{record.communityName,jdbcType=VARCHAR},
      device_name = #{record.deviceName,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=VARCHAR},
      level_name = #{record.levelName,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=BIT},
      reason = #{record.reason,jdbcType=VARCHAR},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_user_id = #{record.updateUserId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.windaka.suizhi.manageport.model.FaceAttentionDetail" >
    update face_attention_detail
    <set >
      <if test="personCode != null" >
        person_code = #{personCode,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        person_name = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        id_no = #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="attentionCode != null" >
        attention_code = #{attentionCode,jdbcType=VARCHAR},
      </if>
      <if test="attentionName != null" >
        attention_name = #{attentionName,jdbcType=VARCHAR},
      </if>
      <if test="withdrawTime != null" >
        withdraw_time = #{withdrawTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="captureTime != null" >
        capture_time = #{captureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="communityCode != null" >
        community_code = #{communityCode,jdbcType=VARCHAR},
      </if>
      <if test="communityName != null" >
        community_name = #{communityName,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="levelName != null" >
        level_name = #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.windaka.suizhi.manageport.model.FaceAttentionDetail" >
    update face_attention_detail
    set person_code = #{personCode,jdbcType=VARCHAR},
      person_name = #{personName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      id_no = #{idNo,jdbcType=VARCHAR},
      attention_code = #{attentionCode,jdbcType=VARCHAR},
      attention_name = #{attentionName,jdbcType=VARCHAR},
      withdraw_time = #{withdrawTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      capture_time = #{captureTime,jdbcType=TIMESTAMP},
      community_code = #{communityCode,jdbcType=VARCHAR},
      community_name = #{communityName,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      level_name = #{levelName,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      reason = #{reason,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>