<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.windaka.suizhi.manageport.dao.HyPersonDataMapper" >
  <resultMap id="BaseResultMap" type="com.windaka.suizhi.manageport.model.HyPersonData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="paper_type" property="paperType" jdbcType="VARCHAR" />
    <result column="paper_num" property="paperNum" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="typename" property="typename" jdbcType="VARCHAR" />
    <result column="addresscode" property="addresscode" jdbcType="VARCHAR" />
    <result column="marriage" property="marriage" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="political" property="political" jdbcType="VARCHAR" />
    <result column="fulladdress" property="fulladdress" jdbcType="VARCHAR" />
    <result column="cre_time" property="creTime" jdbcType="TIMESTAMP" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, paper_type, paper_num, sex, birthday, nation, address, phone, typename, 
    addresscode, marriage, education, political, fulladdress, cre_time, upd_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hy_person_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hy_person_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.windaka.suizhi.manageport.model.HyPersonData" >
    insert into hy_person_data (id, name, paper_type, 
      paper_num, sex, birthday, 
      nation, address, phone, 
      typename, addresscode, marriage, 
      education, political, fulladdress, 
      cre_time, upd_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{paperType,jdbcType=VARCHAR}, 
      #{paperNum,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, 
      #{nation,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{typename,jdbcType=VARCHAR}, #{addresscode,jdbcType=VARCHAR}, #{marriage,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{political,jdbcType=VARCHAR}, #{fulladdress,jdbcType=VARCHAR}, 
      #{creTime,jdbcType=TIMESTAMP}, #{updTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.windaka.suizhi.manageport.model.HyPersonData" >
    insert into hy_person_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="paperType != null" >
        paper_type,
      </if>
      <if test="paperNum != null" >
        paper_num,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="typename != null" >
        typename,
      </if>
      <if test="addresscode != null" >
        addresscode,
      </if>
      <if test="marriage != null" >
        marriage,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="political != null" >
        political,
      </if>
      <if test="fulladdress != null" >
        fulladdress,
      </if>
      <if test="creTime != null" >
        cre_time,
      </if>
      <if test="updTime != null" >
        upd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="paperType != null" >
        #{paperType,jdbcType=VARCHAR},
      </if>
      <if test="paperNum != null" >
        #{paperNum,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="addresscode != null" >
        #{addresscode,jdbcType=VARCHAR},
      </if>
      <if test="marriage != null" >
        #{marriage,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="political != null" >
        #{political,jdbcType=VARCHAR},
      </if>
      <if test="fulladdress != null" >
        #{fulladdress,jdbcType=VARCHAR},
      </if>
      <if test="creTime != null" >
        #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        #{updTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.windaka.suizhi.manageport.model.HyPersonData" >
    update hy_person_data
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="paperType != null" >
        paper_type = #{paperType,jdbcType=VARCHAR},
      </if>
      <if test="paperNum != null" >
        paper_num = #{paperNum,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="typename != null" >
        typename = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="addresscode != null" >
        addresscode = #{addresscode,jdbcType=VARCHAR},
      </if>
      <if test="marriage != null" >
        marriage = #{marriage,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="political != null" >
        political = #{political,jdbcType=VARCHAR},
      </if>
      <if test="fulladdress != null" >
        fulladdress = #{fulladdress,jdbcType=VARCHAR},
      </if>
      <if test="creTime != null" >
        cre_time = #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.windaka.suizhi.manageport.model.HyPersonData" >
    update hy_person_data
    set name = #{name,jdbcType=VARCHAR},
      paper_type = #{paperType,jdbcType=VARCHAR},
      paper_num = #{paperNum,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      typename = #{typename,jdbcType=VARCHAR},
      addresscode = #{addresscode,jdbcType=VARCHAR},
      marriage = #{marriage,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      political = #{political,jdbcType=VARCHAR},
      fulladdress = #{fulladdress,jdbcType=VARCHAR},
      cre_time = #{creTime,jdbcType=TIMESTAMP},
      upd_time = #{updTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>