<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.windaka.suizhi.mpi.dao.auto.CarAccessMapper" >
  <resultMap id="BaseResultMap" type="com.windaka.suizhi.mpi.model.CarAccess" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="community_code" property="communityCode" jdbcType="VARCHAR" />
    <result column="community_name" property="communityName" jdbcType="VARCHAR" />
    <result column="car_num" property="carNum" jdbcType="VARCHAR" />
    <result column="capture_time" property="captureTime" jdbcType="TIMESTAMP" />
    <result column="device_code" property="deviceCode" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="device_type" property="deviceType" jdbcType="VARCHAR" />
    <result column="device_type_name" property="deviceTypeName" jdbcType="VARCHAR" />
    <result column="device_location" property="deviceLocation" jdbcType="VARCHAR" />
    <result column="car_direct" property="carDirect" jdbcType="TINYINT" />
    <result column="dev_chn_id" property="devChnId" jdbcType="VARCHAR" />
    <result column="dev_chn_name" property="devChnName" jdbcType="VARCHAR" />
    <result column="dev_chn_num" property="devChnNum" jdbcType="VARCHAR" />
    <result column="parking_name" property="parkingName" jdbcType="VARCHAR" />
    <result column="person_code" property="personCode" jdbcType="VARCHAR" />
    <result column="person_name" property="personName" jdbcType="VARCHAR" />
    <result column="cap_image" property="capImage" jdbcType="VARCHAR" />
    <result column="cap_video" property="capVideo" jdbcType="VARCHAR" />
    <result column="ori_image" property="oriImage" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, community_code, community_name, car_num, capture_time, device_code, device_name, 
    device_type, device_type_name, device_location, car_direct, dev_chn_id, dev_chn_name, 
    dev_chn_num, parking_name, person_code, person_name, cap_image, cap_video, ori_image, 
    type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.windaka.suizhi.mpi.model.CarAccessExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from car_access
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car_access
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car_access
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.windaka.suizhi.mpi.model.CarAccessExample" >
    delete from car_access
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.windaka.suizhi.mpi.model.CarAccess" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_access (community_code, community_name, car_num, 
      capture_time, device_code, device_name, 
      device_type, device_type_name, device_location, 
      car_direct, dev_chn_id, dev_chn_name, 
      dev_chn_num, parking_name, person_code, 
      person_name, cap_image, cap_video, 
      ori_image, type)
    values (#{communityCode,jdbcType=VARCHAR}, #{communityName,jdbcType=VARCHAR}, #{carNum,jdbcType=VARCHAR}, 
      #{captureTime,jdbcType=TIMESTAMP}, #{deviceCode,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, 
      #{deviceType,jdbcType=VARCHAR}, #{deviceTypeName,jdbcType=VARCHAR}, #{deviceLocation,jdbcType=VARCHAR}, 
      #{carDirect,jdbcType=TINYINT}, #{devChnId,jdbcType=VARCHAR}, #{devChnName,jdbcType=VARCHAR}, 
      #{devChnNum,jdbcType=VARCHAR}, #{parkingName,jdbcType=VARCHAR}, #{personCode,jdbcType=VARCHAR}, 
      #{personName,jdbcType=VARCHAR}, #{capImage,jdbcType=VARCHAR}, #{capVideo,jdbcType=VARCHAR}, 
      #{oriImage,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.windaka.suizhi.mpi.model.CarAccess" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_access
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="communityCode != null" >
        community_code,
      </if>
      <if test="communityName != null" >
        community_name,
      </if>
      <if test="carNum != null" >
        car_num,
      </if>
      <if test="captureTime != null" >
        capture_time,
      </if>
      <if test="deviceCode != null" >
        device_code,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="deviceType != null" >
        device_type,
      </if>
      <if test="deviceTypeName != null" >
        device_type_name,
      </if>
      <if test="deviceLocation != null" >
        device_location,
      </if>
      <if test="carDirect != null" >
        car_direct,
      </if>
      <if test="devChnId != null" >
        dev_chn_id,
      </if>
      <if test="devChnName != null" >
        dev_chn_name,
      </if>
      <if test="devChnNum != null" >
        dev_chn_num,
      </if>
      <if test="parkingName != null" >
        parking_name,
      </if>
      <if test="personCode != null" >
        person_code,
      </if>
      <if test="personName != null" >
        person_name,
      </if>
      <if test="capImage != null" >
        cap_image,
      </if>
      <if test="capVideo != null" >
        cap_video,
      </if>
      <if test="oriImage != null" >
        ori_image,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="communityCode != null" >
        #{communityCode,jdbcType=VARCHAR},
      </if>
      <if test="communityName != null" >
        #{communityName,jdbcType=VARCHAR},
      </if>
      <if test="carNum != null" >
        #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="captureTime != null" >
        #{captureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceCode != null" >
        #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="deviceTypeName != null" >
        #{deviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="deviceLocation != null" >
        #{deviceLocation,jdbcType=VARCHAR},
      </if>
      <if test="carDirect != null" >
        #{carDirect,jdbcType=TINYINT},
      </if>
      <if test="devChnId != null" >
        #{devChnId,jdbcType=VARCHAR},
      </if>
      <if test="devChnName != null" >
        #{devChnName,jdbcType=VARCHAR},
      </if>
      <if test="devChnNum != null" >
        #{devChnNum,jdbcType=VARCHAR},
      </if>
      <if test="parkingName != null" >
        #{parkingName,jdbcType=VARCHAR},
      </if>
      <if test="personCode != null" >
        #{personCode,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="capImage != null" >
        #{capImage,jdbcType=VARCHAR},
      </if>
      <if test="capVideo != null" >
        #{capVideo,jdbcType=VARCHAR},
      </if>
      <if test="oriImage != null" >
        #{oriImage,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.windaka.suizhi.mpi.model.CarAccessExample" resultType="java.lang.Integer" >
    select count(*) from car_access
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update car_access
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.communityCode != null" >
        community_code = #{record.communityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.communityName != null" >
        community_name = #{record.communityName,jdbcType=VARCHAR},
      </if>
      <if test="record.carNum != null" >
        car_num = #{record.carNum,jdbcType=VARCHAR},
      </if>
      <if test="record.captureTime != null" >
        capture_time = #{record.captureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deviceCode != null" >
        device_code = #{record.deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceName != null" >
        device_name = #{record.deviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceType != null" >
        device_type = #{record.deviceType,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceTypeName != null" >
        device_type_name = #{record.deviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceLocation != null" >
        device_location = #{record.deviceLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.carDirect != null" >
        car_direct = #{record.carDirect,jdbcType=TINYINT},
      </if>
      <if test="record.devChnId != null" >
        dev_chn_id = #{record.devChnId,jdbcType=VARCHAR},
      </if>
      <if test="record.devChnName != null" >
        dev_chn_name = #{record.devChnName,jdbcType=VARCHAR},
      </if>
      <if test="record.devChnNum != null" >
        dev_chn_num = #{record.devChnNum,jdbcType=VARCHAR},
      </if>
      <if test="record.parkingName != null" >
        parking_name = #{record.parkingName,jdbcType=VARCHAR},
      </if>
      <if test="record.personCode != null" >
        person_code = #{record.personCode,jdbcType=VARCHAR},
      </if>
      <if test="record.personName != null" >
        person_name = #{record.personName,jdbcType=VARCHAR},
      </if>
      <if test="record.capImage != null" >
        cap_image = #{record.capImage,jdbcType=VARCHAR},
      </if>
      <if test="record.capVideo != null" >
        cap_video = #{record.capVideo,jdbcType=VARCHAR},
      </if>
      <if test="record.oriImage != null" >
        ori_image = #{record.oriImage,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update car_access
    set id = #{record.id,jdbcType=INTEGER},
      community_code = #{record.communityCode,jdbcType=VARCHAR},
      community_name = #{record.communityName,jdbcType=VARCHAR},
      car_num = #{record.carNum,jdbcType=VARCHAR},
      capture_time = #{record.captureTime,jdbcType=TIMESTAMP},
      device_code = #{record.deviceCode,jdbcType=VARCHAR},
      device_name = #{record.deviceName,jdbcType=VARCHAR},
      device_type = #{record.deviceType,jdbcType=VARCHAR},
      device_type_name = #{record.deviceTypeName,jdbcType=VARCHAR},
      device_location = #{record.deviceLocation,jdbcType=VARCHAR},
      car_direct = #{record.carDirect,jdbcType=TINYINT},
      dev_chn_id = #{record.devChnId,jdbcType=VARCHAR},
      dev_chn_name = #{record.devChnName,jdbcType=VARCHAR},
      dev_chn_num = #{record.devChnNum,jdbcType=VARCHAR},
      parking_name = #{record.parkingName,jdbcType=VARCHAR},
      person_code = #{record.personCode,jdbcType=VARCHAR},
      person_name = #{record.personName,jdbcType=VARCHAR},
      cap_image = #{record.capImage,jdbcType=VARCHAR},
      cap_video = #{record.capVideo,jdbcType=VARCHAR},
      ori_image = #{record.oriImage,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.windaka.suizhi.mpi.model.CarAccess" >
    update car_access
    <set >
      <if test="communityCode != null" >
        community_code = #{communityCode,jdbcType=VARCHAR},
      </if>
      <if test="communityName != null" >
        community_name = #{communityName,jdbcType=VARCHAR},
      </if>
      <if test="carNum != null" >
        car_num = #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="captureTime != null" >
        capture_time = #{captureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceCode != null" >
        device_code = #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        device_type = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="deviceTypeName != null" >
        device_type_name = #{deviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="deviceLocation != null" >
        device_location = #{deviceLocation,jdbcType=VARCHAR},
      </if>
      <if test="carDirect != null" >
        car_direct = #{carDirect,jdbcType=TINYINT},
      </if>
      <if test="devChnId != null" >
        dev_chn_id = #{devChnId,jdbcType=VARCHAR},
      </if>
      <if test="devChnName != null" >
        dev_chn_name = #{devChnName,jdbcType=VARCHAR},
      </if>
      <if test="devChnNum != null" >
        dev_chn_num = #{devChnNum,jdbcType=VARCHAR},
      </if>
      <if test="parkingName != null" >
        parking_name = #{parkingName,jdbcType=VARCHAR},
      </if>
      <if test="personCode != null" >
        person_code = #{personCode,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        person_name = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="capImage != null" >
        cap_image = #{capImage,jdbcType=VARCHAR},
      </if>
      <if test="capVideo != null" >
        cap_video = #{capVideo,jdbcType=VARCHAR},
      </if>
      <if test="oriImage != null" >
        ori_image = #{oriImage,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.windaka.suizhi.mpi.model.CarAccess" >
    update car_access
    set community_code = #{communityCode,jdbcType=VARCHAR},
      community_name = #{communityName,jdbcType=VARCHAR},
      car_num = #{carNum,jdbcType=VARCHAR},
      capture_time = #{captureTime,jdbcType=TIMESTAMP},
      device_code = #{deviceCode,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      device_type = #{deviceType,jdbcType=VARCHAR},
      device_type_name = #{deviceTypeName,jdbcType=VARCHAR},
      device_location = #{deviceLocation,jdbcType=VARCHAR},
      car_direct = #{carDirect,jdbcType=TINYINT},
      dev_chn_id = #{devChnId,jdbcType=VARCHAR},
      dev_chn_name = #{devChnName,jdbcType=VARCHAR},
      dev_chn_num = #{devChnNum,jdbcType=VARCHAR},
      parking_name = #{parkingName,jdbcType=VARCHAR},
      person_code = #{personCode,jdbcType=VARCHAR},
      person_name = #{personName,jdbcType=VARCHAR},
      cap_image = #{capImage,jdbcType=VARCHAR},
      cap_video = #{capVideo,jdbcType=VARCHAR},
      ori_image = #{oriImage,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>