<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.windaka.suizhi.mpi.dao.auto.HtUserMapper" >
  <resultMap id="BaseResultMap" type="com.windaka.suizhi.mpi.model.HtUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="leader_id" property="leaderId" jdbcType="BIGINT" />
    <result column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="subdistrict_id" property="subdistrictId" jdbcType="BIGINT" />
    <result column="subdistrict_name" property="subdistrictName" jdbcType="VARCHAR" />
    <result column="sys_level" property="sysLevel" jdbcType="CHAR" />
    <result column="sys_admin" property="sysAdmin" jdbcType="BIT" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="cre_by" property="creBy" jdbcType="VARCHAR" />
    <result column="cre_time" property="creTime" jdbcType="TIMESTAMP" />
    <result column="upd_by" property="updBy" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    <result column="image" property="image" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, username, cname, password, phone, leader_id, area_id, area_name, subdistrict_id, 
    subdistrict_name, sys_level, sys_admin, enabled, del_flag, login_ip, login_time, 
    cre_by, cre_time, upd_by, upd_time, image
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.windaka.suizhi.mpi.model.HtUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ht_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ht_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ht_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.windaka.suizhi.mpi.model.HtUserExample" >
    delete from ht_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.windaka.suizhi.mpi.model.HtUser" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_user (user_id, username, cname, 
      password, phone, leader_id, 
      area_id, area_name, subdistrict_id, 
      subdistrict_name, sys_level, sys_admin, 
      enabled, del_flag, login_ip, 
      login_time, cre_by, cre_time, 
      upd_by, upd_time, image
      )
    values (#{userId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{cname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{leaderId,jdbcType=BIGINT}, 
      #{areaId,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR}, #{subdistrictId,jdbcType=BIGINT}, 
      #{subdistrictName,jdbcType=VARCHAR}, #{sysLevel,jdbcType=CHAR}, #{sysAdmin,jdbcType=BIT}, 
      #{enabled,jdbcType=BIT}, #{delFlag,jdbcType=BIT}, #{loginIp,jdbcType=VARCHAR}, 
      #{loginTime,jdbcType=TIMESTAMP}, #{creBy,jdbcType=VARCHAR}, #{creTime,jdbcType=TIMESTAMP}, 
      #{updBy,jdbcType=VARCHAR}, #{updTime,jdbcType=TIMESTAMP}, #{image,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.windaka.suizhi.mpi.model.HtUser" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="leaderId != null" >
        leader_id,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="areaName != null" >
        area_name,
      </if>
      <if test="subdistrictId != null" >
        subdistrict_id,
      </if>
      <if test="subdistrictName != null" >
        subdistrict_name,
      </if>
      <if test="sysLevel != null" >
        sys_level,
      </if>
      <if test="sysAdmin != null" >
        sys_admin,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="loginIp != null" >
        login_ip,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
      <if test="creBy != null" >
        cre_by,
      </if>
      <if test="creTime != null" >
        cre_time,
      </if>
      <if test="updBy != null" >
        upd_by,
      </if>
      <if test="updTime != null" >
        upd_time,
      </if>
      <if test="image != null" >
        image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="leaderId != null" >
        #{leaderId,jdbcType=BIGINT},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="subdistrictId != null" >
        #{subdistrictId,jdbcType=BIGINT},
      </if>
      <if test="subdistrictName != null" >
        #{subdistrictName,jdbcType=VARCHAR},
      </if>
      <if test="sysLevel != null" >
        #{sysLevel,jdbcType=CHAR},
      </if>
      <if test="sysAdmin != null" >
        #{sysAdmin,jdbcType=BIT},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="loginIp != null" >
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creBy != null" >
        #{creBy,jdbcType=VARCHAR},
      </if>
      <if test="creTime != null" >
        #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updBy != null" >
        #{updBy,jdbcType=VARCHAR},
      </if>
      <if test="updTime != null" >
        #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.windaka.suizhi.mpi.model.HtUserExample" resultType="java.lang.Integer" >
    select count(*) from ht_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.cname != null" >
        cname = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.leaderId != null" >
        leader_id = #{record.leaderId,jdbcType=BIGINT},
      </if>
      <if test="record.areaId != null" >
        area_id = #{record.areaId,jdbcType=VARCHAR},
      </if>
      <if test="record.areaName != null" >
        area_name = #{record.areaName,jdbcType=VARCHAR},
      </if>
      <if test="record.subdistrictId != null" >
        subdistrict_id = #{record.subdistrictId,jdbcType=BIGINT},
      </if>
      <if test="record.subdistrictName != null" >
        subdistrict_name = #{record.subdistrictName,jdbcType=VARCHAR},
      </if>
      <if test="record.sysLevel != null" >
        sys_level = #{record.sysLevel,jdbcType=CHAR},
      </if>
      <if test="record.sysAdmin != null" >
        sys_admin = #{record.sysAdmin,jdbcType=BIT},
      </if>
      <if test="record.enabled != null" >
        enabled = #{record.enabled,jdbcType=BIT},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=BIT},
      </if>
      <if test="record.loginIp != null" >
        login_ip = #{record.loginIp,jdbcType=VARCHAR},
      </if>
      <if test="record.loginTime != null" >
        login_time = #{record.loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creBy != null" >
        cre_by = #{record.creBy,jdbcType=VARCHAR},
      </if>
      <if test="record.creTime != null" >
        cre_time = #{record.creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updBy != null" >
        upd_by = #{record.updBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updTime != null" >
        upd_time = #{record.updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.image != null" >
        image = #{record.image,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_user
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      cname = #{record.cname,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      leader_id = #{record.leaderId,jdbcType=BIGINT},
      area_id = #{record.areaId,jdbcType=VARCHAR},
      area_name = #{record.areaName,jdbcType=VARCHAR},
      subdistrict_id = #{record.subdistrictId,jdbcType=BIGINT},
      subdistrict_name = #{record.subdistrictName,jdbcType=VARCHAR},
      sys_level = #{record.sysLevel,jdbcType=CHAR},
      sys_admin = #{record.sysAdmin,jdbcType=BIT},
      enabled = #{record.enabled,jdbcType=BIT},
      del_flag = #{record.delFlag,jdbcType=BIT},
      login_ip = #{record.loginIp,jdbcType=VARCHAR},
      login_time = #{record.loginTime,jdbcType=TIMESTAMP},
      cre_by = #{record.creBy,jdbcType=VARCHAR},
      cre_time = #{record.creTime,jdbcType=TIMESTAMP},
      upd_by = #{record.updBy,jdbcType=VARCHAR},
      upd_time = #{record.updTime,jdbcType=TIMESTAMP},
      image = #{record.image,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.windaka.suizhi.mpi.model.HtUser" >
    update ht_user
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="leaderId != null" >
        leader_id = #{leaderId,jdbcType=BIGINT},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="subdistrictId != null" >
        subdistrict_id = #{subdistrictId,jdbcType=BIGINT},
      </if>
      <if test="subdistrictName != null" >
        subdistrict_name = #{subdistrictName,jdbcType=VARCHAR},
      </if>
      <if test="sysLevel != null" >
        sys_level = #{sysLevel,jdbcType=CHAR},
      </if>
      <if test="sysAdmin != null" >
        sys_admin = #{sysAdmin,jdbcType=BIT},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=BIT},
      </if>
      <if test="loginIp != null" >
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creBy != null" >
        cre_by = #{creBy,jdbcType=VARCHAR},
      </if>
      <if test="creTime != null" >
        cre_time = #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updBy != null" >
        upd_by = #{updBy,jdbcType=VARCHAR},
      </if>
      <if test="updTime != null" >
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.windaka.suizhi.mpi.model.HtUser" >
    update ht_user
    set user_id = #{userId,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      cname = #{cname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      leader_id = #{leaderId,jdbcType=BIGINT},
      area_id = #{areaId,jdbcType=VARCHAR},
      area_name = #{areaName,jdbcType=VARCHAR},
      subdistrict_id = #{subdistrictId,jdbcType=BIGINT},
      subdistrict_name = #{subdistrictName,jdbcType=VARCHAR},
      sys_level = #{sysLevel,jdbcType=CHAR},
      sys_admin = #{sysAdmin,jdbcType=BIT},
      enabled = #{enabled,jdbcType=BIT},
      del_flag = #{delFlag,jdbcType=BIT},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      cre_by = #{creBy,jdbcType=VARCHAR},
      cre_time = #{creTime,jdbcType=TIMESTAMP},
      upd_by = #{updBy,jdbcType=VARCHAR},
      upd_time = #{updTime,jdbcType=TIMESTAMP},
      image = #{image,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>